/* common css start  */
    *{
        margin: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
    }
    .container{
        width: 1170px;
        margin: auto;
    }
    ol,ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
    }
    :root{
        --praimary-font:'Ubuntu', sans-serif;
        --secondary-font:'Open Sans', sans-serif;
        --third-font:'Abril Fatface', cursive;
        --primary-color:#0f2f44;
        --primary-color:#0f2f44;
        --secondary-color:#ffc712;
        --third-color:#8484bf;
    }
    body{
        font-family: var( --praimary-font);
    }
/* common css end  */

/* our skill section start  */
#ourskill .skill_img{
    width: 60%;
}
#ourdkill .skills_text{
    width: 40%;
    text-align: right;
}

   
/* our skill section end  */